body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

h1,
h2 {
    text-align: center;
}

.profit {
    color: green;
}

.loss {
    color: red;
}

.neutral {
    color: #FFD700;
    /* Yellow */
}

.dont-invest {
    color: red;
}

.risky {
    color: #FFD700;
}

.invest {
    color: green;
}

/* Styling the file input and button */
input[type="file"] {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f9d423;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #ff4e50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f03e41;
}

/* Styling the table */
table {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: white;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #ff4e50;
    color: white;
}

td {
    background-color: #f9f9f9;
}