* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
}

.percentage-calculator {
    background-color: #f9a826;
}

.buyback-advice {
    background-color: #4caf50;
}

.garbage1 {
    background-color: #2196f3;
}

.garbage2 {
    background-color: #ff5722;
}
